.container {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90%;
  &.mobile {
    width: 100%;
  }
}

.page-view {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(50px);
  margin: 20px 0px 50px 0px;
}

.page-view-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(0);
  margin: 20px 0px 50px 0px;
}

.full-width-background {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: var(--primary-color);
}

.page-middle {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90%;
}

.page-bottom {
  display: flex;
  justify-content: space-around;
}

.page-bottom-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
