// styles/Dialog.scss

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dialog-content {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    rgba(var(--primary-color-dark))
  );
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.5),
    0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
  }
}

.dialog-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dialog-body {
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-body a {
  margin-bottom: 30px;
}
.dialog-body p {
  margin-bottom: 5px;
}

.popup-link {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, .5),
    0 0 20px rgba(255, 255, 255, 0.1);
}

.popup-link:hover {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 0.5);
}
