//AboutUs.scss
// @use "../../styles/theme" as *;

.about-us-parent {
  display: flex;
  flex-direction: column;
}

.about-us-parent-mobile {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.about-us-child {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about-us-img {
  max-width: 400px;
  height: auto;
  display: block;
  border-radius: 22px;
}

.about-us-img-mobile {
  max-width: 150px;
  height: auto;
  display: block;
  border-radius: 12px;
  margin-top: 10px;
}

.about-us-write-up {
  margin-left: 20px;
  max-width: 50%;
  padding: 30px;
  border-radius: 22px;
}

.about-us-write-up-mobile {
  margin-left: 10px;
  display: flex;
  align-items: center;
  max-width: 50%;
  padding: 0px 10px 0px 10px;
  border-radius: 12px;
  text-align: left;
}
